
header {     
    width: 100%;
    background: linear-gradient(45deg, #fabd14, #eb9616);
    padding: 2rem;
  }
  
  section {    
    padding: 2rem;    
  }
  
  footer {         
    width: 100%;
    background: linear-gradient(45deg, #fabd14, #eb9616);
    padding: 2rem;
  } 
