.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-media img {     
    width: 24px;
    height: 24px;    
    cursor: pointer;    
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 5px;        
    }
}